[Unit]
Description=node_exporter service

[Service]
Type=simple
ExecStart=/opt/apps/raspberrypi_exporters/node_exporter/node_exporter --collector.textfile.directory /tmp/textfile-collector

[Install]
WantedBy=multi-user.target
